/* Home Styling */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
  background-image: url('/public/portfoliobg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-main {
  flex-grow: 1; /* Main content takes up remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.home-content-wrapper {
  text-align: center;
  /* background-color: #f8ebd7; light checkered color */
  background-color: #f8ebd7d2;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
}

.home-text-title {
  font-size: 2.25rem;
  /* color: #c2b59b; dark checkered color */
  color: #f2a812;
  font-family: 'Space Mono';
}

.home-text-description {
  font-size: 1rem;
  color: #088008;
  font-family: 'Space Mono';
}

/* About Me Button */
.about-me-button {
  background-color: #f8ebd7;
  color: #544f44;
  font-family: 'Space Mono';
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid #088008;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.about-me-button:hover {
  background-color: #088008;
  color: #f8ebd7;
  border-color: #088008;
}

/* About Me Modal */
.ReactModal__Content {
  background-color: #f8ebd7 !important; 
  border: none !important;
  padding: 20px !important;
  width: 40%;
  height: 50%;
  max-width: 800px;
  margin: 0 auto;
  top: 20% !important; /* Position of the modal box */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #544f44;
  font-family: 'Space Mono', monospace;
  border-radius: 8px !important;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.modal-content {
  padding: 20px;
}

.about-me-title {
  font-size: 1.25rem;
}

.about-me-description {
  font-size: 1rem;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.close-button:hover {
  color: #333;
}

/* Navigation */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* Align left and right containers at opposite ends */
  padding: 3px 20px;
  background-color: #f8ebd7d2;
  z-index: 1000;
}

.nav-left, .nav-right {
  display: flex;
}

.nav-link {
  margin-right: 20px; /* Adjust spacing between links */
  font-family: 'Space Mono';
  font-size: 1rem;
  color: #088008;
  text-decoration: none; /* Remove underline */
  cursor: pointer;
}

.nav-link:hover {
  color: #f2a812;
}

.icon {
  color: #f2a812;
  font-size: 1rem;
}

.icon:hover {
  color: #088008;
}

/* Experience */
.experience-container {
  display: flex;
  flex-direction: column;
  background-color: #f8ebd7;
}

.experience-main {
  flex-grow: 1; /* Main content takes up remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 30px;
}

.experience-content-wrapper {
  text-align: center;
  background-color: #c2b59b48;
  padding: 20px;
}

.experience-text-title {
  font-size: 2.25rem;
  color: #544f44;
  font-family: 'Space Mono';
}

.experience-text-description {
  font-size: 1rem;
  color: #544f44;
  font-family: 'Space Mono';
  text-decoration: none;
}

/* Project Cards */
.project-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust to fit 3 cards horizontally */
  gap: 20px; /* Spacing between cards */
  font-family: 'Space Mono';
  padding: 20px;
}

.project-card {
  background-color: #f8ebd7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.see-more-button {
  background-color: #088008;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #065e05;
}


/* Contact */
.contact-container {
  display: flex;
  flex-direction: column;
  background-color: #f8ebd7;
}

.contact-main {
  flex-grow: 1; /* Main content takes up remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 30px;
}

.contact-content-wrapper {
  text-align: center;
  background-color: #c2b59b48;
  padding: 20px;
}

.contact-text-title {
  font-size: 2.25rem;
  color: #544f44;
  font-family: 'Space Mono';
}

.contact-text-description {
  font-size: 1rem;
  color: #544f44;
  font-family: 'Space Mono';
  text-align: left;
  text-decoration: none;
}

.pre-link {
  color: #088008;
  text-decoration: none;
}

.pre-link:hover {
  color: #544f44;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #f8ebd7;
}

.footer-content {
  text-align: center;
  font-family: 'Space Mono';
  font-size: .75rem;
  color: #f2a812;
  font-weight: 600;
}

/* Scroll To Top Button */
.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c2b59b;
  color: #f8ebd7;
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  display: block;
}

.scroll-to-top-button span {
  font-size: 15px;
}


/* Media Queries for Responsive Design */
/* Home */
@media screen and (max-width: 768px) {
  .home-main {
    padding: 15px;
  }

  .home-text-title {
    font-size: 1.5rem;
  }

  .home-text-description {
    font-size: 0.9rem;
  }
}

/* About */
@media screen and (max-width: 768px) {
  .ReactModal__Content {
    width: 75%;
    max-width: none;
  }

  .about-me-title {
    font-size: 1rem;
  }
  
  .about-me-description {
    font-size: 0.9rem;
  }
}

/* Navigation */
@media screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 3px 10px;
  }

  .nav-link {
    margin-right: 10px;
    font-size: 0.9rem;
  }

  .icon {
    font-size: 0.9rem;
  }
}

/* Experience */
@media screen and (max-width: 768px) {
  .experience-main {
    padding: 15px; 
  }

  .experience-text-title {
    font-size: 1.5rem; 
  }

  .experience-text-description {
    font-size: 0.9rem;
  }
}

/* Project Cards */
@media screen and (max-width: 768px) {
  .project-cards-container {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    margin-bottom: 20px;
  }
}

/* Contact */
@media screen and (max-width: 768px) {
  .contact-main {
    padding: 15px;
  }

  .contact-text-title {
    font-size: 1.5rem;
  }

  .contact-text-description {
    font-size: 0.9rem;
  }
}
